#kaocha/v1
{:tests [{:id :integration
          :test-paths ["test/deercreeklabs"]}
         {:id :integration-browser
          :type :kaocha.type/cljs
          :test-paths ["test/deercreeklabs/"]
          :cljs/repl-env cljs.repl.browser/repl-env}]
 :kaocha.watch/ignore ["**.#*" "**#*#"]}
